@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

.fontH1 {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 600;
  font-style: normal;
}

.Hero {
  background-image: linear-gradient(
      25deg,
      rgb(0, 0, 0),
      rgba(102, 102, 102, 0)
    ),
    url(./image/hero-image.jpg);
  background-size: cover;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
  display: inline-flex;
}

.animate-slide div {
  animation: slide-clone 20s linear infinite;
}

@media (max-width: 768px) {
  .search {
    display: none;
  }
}

@media (max-width: 640px) {
  .search-mobile {
    /* Styling untuk tampilan mobile */
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .search-mobile .relative {
    /* Styling untuk container input search */
    display: flex;
    align-items: center;
  }

  .search-mobile input {
    /* Styling untuk input search */
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }

  .search-mobile .magnifying-glass {
    /* Styling untuk ikon pencarian */
    margin-left: 0.5rem;
    color: #666;
  }
}
